!!!
%html
  %body
    %h1
      = @url
    %input.file-input(type="file" style="width:200px; height:200px; background-color: #fafafa;" )

    %script(src="http://code.jquery.com/jquery-1.8.3.js")
    %script(src="fliner.js")
